*{
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

nav {
    width: 100%;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

header{
    width: 100%;
    background-image: url('../Assets/Hero-bg.png');
}

.logo{
    color: #4E47FF;
    font-size: 34px;
    font-family: "Inter";
    font-weight: 900;
    }

.primary-btn {
    background-color: #4E47FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.primary-btn:hover {
    background-color: #ba0404;
}

.hero {
    width: 100%;
    padding: 150px 0px;
    align-items: center;
    text-align: center;
}

.hero-title {
    font-size: 64px;
    font-weight: 800;
    font-family: Raleway;
    color: #252432;
    padding: 30px 0px;
}

.section-basics {
    background-color: #f5f8ff; 
    width: 100%; 
    padding: 60px 0px;
}

.action-section {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;   
}

.action-title {
    font-size: 42px;
    font-weight: 700;
    font-family: Raleway;
    color: #252432;
}

.action-text {
    font-size: 24px;
    font-weight: 400;
    font-family: Raleway;
    color: #252432;
    opacity: 50%;
    padding: 20px 0px;
}

.action-img {
    max-width: 403px;
    max-height: 328px;
    border-radius: 48px;
}

.secondary-title {
    font-size: 38px;
    font-weight: 700;
    font-family: Raleway;
    color: #252432;
    text-align: center;
}

.numbers {
    font-family: "Inter";
    font-size: 80px;
    color: #4E47FF;
}

.small-text {
    font-family: Raleway;
    font-size: 20px;
    color: black;
    opacity: 50%;
}

.review-card {
    background-color: white; 
    padding: 30px 60px 20px 20px; 
    border-radius: 14px;
    box-shadow: 0px 1px 5px rgba(156, 156, 156, 0.1) ;
}

.review-title {
    font-size: 22px;
    font-weight: 700;
    font-family: Raleway;
    color: #252432;
    padding: 20px 0px 10px 0px;
}

.review-text {
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter";
    color: #252432;
}

.avatar {
    border-radius: 50%;
}

.review-date {
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter";
    color: #252432;
    opacity: 50%;
}

.form-container {
  width: 100%;
  max-width: 500px;
  background: #f6f9ff;
  padding: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form label {
  font-weight: 600;
  margin-bottom: 4px;
  color: #222;
  font-family: "Inter";
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #5f6df8;
  outline: none;
}
